upstream wordpress_fpm {
    server wordpress:9000;
}

upstream phpmyadmin_backend {
    server phpmyadmin:80;
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ domain_name }};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

{% if enable_ssl | bool %}
    location / {
        return 301 https://$host$request_uri;
    }
{% else %}
    root /var/www/html;
    index index.php index.html index.htm;

    location /phpmyadmin/ {
        proxy_pass http://phpmyadmin_backend/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass wordpress_fpm;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }
{% endif %}
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ domain_name }};

{% if enable_ssl | bool %}
    ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
{% else %}
    ssl_certificate /etc/letsencrypt/live/selfsigned/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/selfsigned/privkey.pem;
{% endif %}
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    root /var/www/html;
    index index.php index.html index.htm;

    location /phpmyadmin/ {
        proxy_pass http://phpmyadmin_backend/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass wordpress_fpm;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param HTTPS on;
    }
}
